# NetBeans specific #
build.xml
manifest.mf
.DS_Store
nbproject/
build/
nbbuild/
dist/
bin/
nbdist/
nbactions.xml
.nb-gradle/
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
/bin/
